@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;

}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.sec
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(116,149,214);
    background: linear-gradient(90deg, rgba(116,149,214,1) 0%, rgba(0,0,0,1) 100%);
    transition: 1sec;

}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header ul
{
    position: relative;
    display: flex;


}
.header ul li
{
    list-style: none;


}
.header ul li a 
{
    display: inline-block;
    
    font-weight: 400;
    margin-left: 5px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    background: #f28b7d;
    color: aliceblue;
    border-radius: 50cm;
    
    
    
    
    
}
.header ul li  :hover
{
    transform: translatex(5px);
    
}


.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
  :root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
  }

h1
{
    
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
   9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
 font-family: bungee, sans-serif;
 font-weight: 100;
 text-transform: uppercase;
 font-size: calc(2rem + 5vw);
 text-align: center;
 margin: 0;
 color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 1rem;

}
@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
.content .textbox
{
    position: relative;
    max-width: 400px;
    color:   rgb(245, 243, 240);
    
    line-height: 1.5em;
}


.content .textbox  a 
{
    display: inline-block;
    margin-top: 20px;
    
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(245, 229, 197);
   



}
.content .textbox a:hover
{
    padding: 8px 20px;
    background: #f28b7d;
    color: aliceblue;
    border-radius: 50cm;
}


.content .imgbox img
{
    border-radius: 200cm;
}